<table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Artists</th>
        <th>Genres</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="song in songs" ng-class="{active: isCurrent(song)}" ng-dblclick="start(song)">
<!--         <td>
          <button ng-hide="isCurrent(song)" ng-click="start(song)" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-play"></span>
          </button>
        </td> -->
        <td>{{ song.name }}</td>
        <td>
          
          <span ng-repeat="artist in song.artists">
            <a ui-sref='artist({artistId: artist._id})'>
              {{ artist.name }} 
            </a>  
          </span>

        </td>
        <td>{{ song.genres.join(', ') }}</td>
      </tr>
    </tbody>
  </table>